.program-edit-container {
    max-width: 720px;
    margin: 0 auto;
    margin-top: 40px;
}

.program-edit-row {
    margin-bottom: 20px;
}

.program-edit-row input {
    width: 200px;
    margin-bottom: 4px;
}

.program-edit-buttons {
    width: 100%;
    text-align: center;
}